<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24">
      <div class="text-center lg:text-left">
        <div>
          <p class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
            Advanced Security for Virtual Interactions
          </p>
          <p class="text-base mt-4 text-gray-500">
            BrainBit prioritizes the security of virtual interactions, employing multilayered security measures to protect data and privacy. Our platform is designed to ensure safe and secure exchanges, giving you peace of mind in every conversation.
          </p>
        </div>
      </div>
      <div class="lg:mt-0 mt-12 h-full hidden lg:block rounded-3xl overflow-hidden border">
        <div class="bg-gray-100 p-8 rounded-2xl overflow-hidden">
          <img alt="BrainBit Security Features" class="border lg:rounded-3xl object-cover rounded shadow-2xl" src="ai_assistant.webp" />
        </div>
      </div>
    </div>
    <div class="mt-24 w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon aria-label="code-working-outline" class="hydrated md h-5 w-5" name="code-working-outline" role="img"></ion-icon>
          </div>
          <p class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Seamless Developer Integration
          </p>
        </div>
        <p class="text-gray-500 text-sm mt-4">
          BrainBit offers an intuitive API and SDKs for seamless integration into existing systems, ensuring developers can easily deploy virtual personas.
        </p>
      </div>
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon aria-label="color-fill-outline" class="hydrated md h-5 w-5" name="color-fill-outline" role="img"></ion-icon>
          </div>
          <p class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Designer-friendly Customization
          </p>
        </div>
        <p class="text-gray-500 text-sm mt-4">
          With customizable AI personas, designers can create unique, brand-aligned virtual characters, enhancing the user experience across digital platforms.
        </p>
      </div>
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon aria-label="people-outline" class="hydrated md h-5 w-5" name="people-outline" role="img"></ion-icon>
          </div>
          <p class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Streamlined User Onboarding
          </p>
        </div>
        <p class="text-gray-500 text-sm mt-4">
          BrainBit simplifies onboarding, guiding users through the process of interacting with AI-driven virtual people, ensuring a smooth and engaging experience from the start.
        </p>
      </div>
    </div>
  </div>
</section>
