<section id="features">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-xl text-center">
      <div>
        <p class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
          Revolutionary Features of BrainBit
        </p>
        <p class="mt-4 text-lg text-gray-500 mx-auto tracking-tight">
          Unleashing the potential of AI to create engaging and personalized virtual interactions.
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2>
        <div>
          <div class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3">
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon aria-label="person-add-outline" class="hydrated md h-4 w-4" name="person-add-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Customizable AI Personas
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Tailor and fine-tune AI-driven characters to match your specific business needs and customer preferences.
              </div>
            </div>
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon aria-label="time-outline" class="hydrated md h-4 w-4" name="time-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  24/7 Availability
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Our virtual personas are available round the clock, ensuring your business can offer constant support and engagement.
              </div>
            </div>
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon aria-label="chatbubbles-outline" class="hydrated md h-4 w-4" name="chatbubbles-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Engaging Interactions
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Engage users with meaningful conversations, empathetic responses, and interactive experiences across platforms.
              </div>
            </div>
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon aria-label="stats-chart-outline" class="hydrated md h-4 w-4" name="stats-chart-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Data-Driven Insights
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Benefit from actionable insights derived from interactions, enhancing customer experience and business strategies.
              </div>
            </div>
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon aria-label="lock-closed-outline" class="hydrated md h-4 w-4" name="lock-closed-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Privacy and Security
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Adhering to the highest standards of data privacy and security, ensuring all interactions are protected.
              </div>
            </div>
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon aria-label="code-slash-outline" class="hydrated md h-4 w-4" name="code-slash-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Easy Integration
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Seamlessly integrate with your existing systems and workflows for a smooth and efficient implementation.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
