<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-12">
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-3xl font-normal tracking-tight text-black font-display"
          >
            Frequently Asked Questions
          </p>
          <p class="text-base mt-4 text-zinc-500">
            Get quick answers about BrainBit's Virtual People platform
          </p>
        </div>
      </div>
      <div
        x-data="{
          activeAccordion: '',
          setActiveAccordion(id) {
            this.activeAccordion = (this.activeAccordion == id) ? '' : id
          }
        }"
        class="relative w-full mx-auto font-normal lg:col-span-2"
      >
        <!-- FAQ 1 -->
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-black"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>What can BrainBit's Virtual People do for my business?</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500 -rotate-[45deg]"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"
              ></path>
            </svg>
          </button>
          <div x-show="activeAccordion==id" x-collapse="">
            <div class="p-4 pt-2 text-zinc-500">
              BrainBit's Virtual People leverage AI to perform various tasks such as engaging customers in sales conversations, providing mental health support, entertaining users through interactive experiences, and enhancing social media engagement. They're available 24/7, offering personalized interactions without the need for breaks or sleep.
            </div>
          </div>
        </div>
        <!-- FAQ 2 -->
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>How does BrainBit ensure user privacy and data protection?</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"
              ></path>
            </svg>
          </button>
          <div x-show="activeAccordion==id" x-collapse="" style="display: none;">
            <div class="p-4 pt-2 text-zinc-500">
              We prioritize privacy and security by implementing end-to-end encryption for all interactions. Personal data is processed securely, ensuring that information is only accessible to authorized users. BrainBit complies with GDPR and other privacy regulations, offering transparency and control over your data.
            </div>
          </div>
        </div>
        <!-- FAQ 3 -->
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>Can BrainBit's Virtual People integrate with my existing systems?</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"
              ></path>
            </svg>
          </button>
          <div x-show="activeAccordion==id" x-collapse="" style="display: none;">
            <div class="p-4 pt-2 text-zinc-500">
              Yes, our virtual people are designed to seamlessly integrate with your existing business systems, including CRM, CMS, and customer service platforms. This integration enables a more cohesive user experience, allowing BrainBit to provide personalized interactions based on your system's data.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
