<section id="demo" class="bg-zinc-100 2xl:max-w-7xl mx-auto">
  <div class="relative">
    <div class="lg:absolute lg:inset-0 lg:left-1/2">
      <img class="object-cover w-full h-64 sm:h-80 lg:absolute lg:h-full" src="virtual_person.webp" alt="Interactive Virtual People">
    </div>
    <div class="pt-16 pb-24 sm:pb-32 sm:pt-24 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:pt-32">
      <div class="px-8 lg:px-12">
        <div class="max-w-lg mx-auto lg:mx-0 lg:pr-12">
          <p class="mt-12 text-3xl font-black tracking-tight text-black uppercase font-display">
            Virtual People
          </p>
          <p class="max-w-2xl mt-4 text-base font-medium tracking-tight text-black">
            Discover the future of digital interaction with BrainBit's Virtual People.
            <span class="lg:block">— Efficient, customizable, and available 24/7.</span>
          </p>
          <p class="mt-8 text-2xl tracking-tight text-black font-medium font-display lg:pl-4 lg:border-l-4 border-accent-600">
            Explore how BrainBit can transform your digital strategy.
          </p>
          <p class="max-w-2xl mt-8 text-base font-medium tracking-tight text-black">
            Join us today and elevate your business or project with our versatile virtual people. Whether for boosting sales, providing empathetic support, creating interactive entertainment, or engaging your audience on social media, BrainBit has the solution.
          </p>

          <div class="mt-12">
            <a href="/#demo" class="inline-flex items-center justify-center w-full gap-4 px-6 py-3 text-sm font-medium text-white transition rounded-xl bg-accent-600 group active:text-gray-900/60 active:transition-none outline-offset-2 hover:bg-white hover:text-black lg:w-auto">Request a Demo <span>→</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
